
<!doctype html>
<html lang="en">


<!-- Mirrored from themes.fuznet.com/rondhon/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jun 2020 18:30:31 GMT -->
<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Rondhon - Food Delivery HTML Template</title>
  
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assetsmenu/images/favicon.ico" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="~/assetsmenu/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="~/assetsmenu/css/all.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="~/assetsmenu/css/magnific-popup.css">

    <!--====== nice select css ======-->
    <link rel="stylesheet" href="~/assetsmenu/css/nice-select.css">

    <!--====== odometer css ======-->
    <link rel="stylesheet" href="~/assetsmenu/css/odometer.min.css">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="~/assetsmenu/css/slick.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="~/assetsmenu/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="~/assetsmenu/css/style.css">

    <link href="~/assetsmenu/css/custom.css" rel="stylesheet" />

</head>

<body>


    @RenderBody()

    <!--====== BANNER PART ENDS ======-->
    <!--====== HOW IT WORK PART START ======-->
    <!--====== HOW IT WORK PART ENDS ======-->
    <!--====== CATEGORY PART START ======-->
    <!--====== FUN FACTS PART ENDS ======-->
    <!--====== FOOD MENU PART START ======-->
    @*<section class="food-menu-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-title text-center">
                            <img src="~/assetsmenu/images/shape/title-shape-2.png" alt="title">
                            <h3 class="title">Restaurant With Special Menu All</h3>
                            <p>The Process of our service</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container custom-container-2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="food-menu-box bg_cover" style="background-image: url(~/assetsmenu/images/food-menu-bg.jpg);">
                            <div class="project-menu">
                                <ul>
                                    <li data-filter="*" class="active">All</li>
                                    <li data-filter=".cat-1">Breakfast</li>
                                    <li data-filter=".cat-2">Lunch</li>
                                    <li data-filter=".cat-3">Dinner</li>
                                    <li data-filter=".cat-4">Coffee</li>
                                    <li data-filter=".cat-5">Snacks</li>
                                </ul>
                            </div>
                            <div class="row grid">
                                <div class="col-lg-6 cat-3 cat-4 cat-2">
                                    <div class="food-menu-item mt-30 d-block d-sm-flex align-items-center">
                                        <div class="food-menu-thumb">
                                            <img src="~/assetsmenu/images/food-menu-1.jpg" alt="item">
                                        </div>
                                        <div class="food-menu-content">
                                            <a href="#"><h4 class="title">Heirloom Tomato Caprese</h4></a>
                                            <ul>
                                                <li>Food Type: Chicken Stick</li>
                                                <li>Delivery time: 60 Minutes, Delivery Cost: Free</li>
                                            </ul>
                                            <span>$86</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 cat-1 cat-5 cat-2">
                                    <div class="food-menu-item mt-30 d-block d-sm-flex align-items-center">
                                        <div class="food-menu-thumb">
                                            <img src="~/assetsmenu/images/food-menu-2.jpg" alt="item">
                                        </div>
                                        <div class="food-menu-content">
                                            <a href="#"><h4 class="title">Heirloom Tomato Caprese</h4></a>
                                            <ul>
                                                <li>Food Type: Chicken Stick</li>
                                                <li>Delivery time: 60 Minutes, Delivery Cost: Free</li>
                                            </ul>
                                            <span>$86</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 cat-2 cat-3 cat-5">
                                    <div class="food-menu-item mt-30 d-block d-sm-flex align-items-center">
                                        <div class="food-menu-thumb">
                                            <img src="~/assetsmenu/images/food-menu-3.jpg" alt="item">
                                        </div>
                                        <div class="food-menu-content">
                                            <a href="#"><h4 class="title">Heirloom Tomato Caprese</h4></a>
                                            <ul>
                                                <li>Food Type: Chicken Stick</li>
                                                <li>Delivery time: 60 Minutes, Delivery Cost: Free</li>
                                            </ul>
                                            <span>$86</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 cat-1 cat-3 cat-5">
                                    <div class="food-menu-item mt-30 d-block d-sm-flex align-items-center">
                                        <div class="food-menu-thumb">
                                            <img src="~/assetsmenu/images/food-menu-4.jpg" alt="item">
                                        </div>
                                        <div class="food-menu-content">
                                            <a href="#"><h4 class="title">Heirloom Tomato Caprese</h4></a>
                                            <ul>
                                                <li>Food Type: Chicken Stick</li>
                                                <li>Delivery time: 60 Minutes, Delivery Cost: Free</li>
                                            </ul>
                                            <span>$86</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 cat-2 cat-5">
                                    <div class="food-menu-item mt-30 d-block d-sm-flex align-items-center">
                                        <div class="food-menu-thumb">
                                            <img src="~/assetsmenu/images/food-menu-5.jpg" alt="item">
                                        </div>
                                        <div class="food-menu-content">
                                            <a href="#"><h4 class="title">Heirloom Tomato Caprese</h4></a>
                                            <ul>
                                                <li>Food Type: Chicken Stick</li>
                                                <li>Delivery time: 60 Minutes, Delivery Cost: Free</li>
                                            </ul>
                                            <span>$86</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 cat-1 cat-3 cat-4">
                                    <div class="food-menu-item mt-30 d-block d-sm-flex align-items-center">
                                        <div class="food-menu-thumb">
                                            <img src="~/assetsmenu/images/food-menu-6.jpg" alt="item">
                                        </div>
                                        <div class="food-menu-content">
                                            <a href="#"><h4 class="title">Heirloom Tomato Caprese</h4></a>
                                            <ul>
                                                <li>Food Type: Chicken Stick</li>
                                                <li>Delivery time: 60 Minutes, Delivery Cost: Free</li>
                                            </ul>
                                            <span>$86</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@





    <!--====== BLOG PART ENDS ======-->
    <!--====== FOOTER PART START ======-->

    <footer class="footer-area bg_cover" style="background-image: url(~/assetsmenu/images/footer-bg.jpg);">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright d-block d-sm-flex justify-content-between align-items-center">
                        <p>© 2020 FUEM Bilişim</p>
                        <a href="#"><img src="~/assetsmenu/images/payment.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    <!--====== GO TO TOP PART START ======-->

    <div class="go-top-area">
        <div class="go-top-wrap">
            <div class="go-top-btn-wrap">
                <div class="go-top go-top-btn">
                    <i class="fa fa-angle-double-up"></i>
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </div>
        </div>
    </div>

    <!--====== GO TO TOP PART ENDS ======-->
    <!--====== jquery js ======-->
    <script src="~/assetsmenu/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/assetsmenu/js/vendor/jquery-3.5.1.min.js"></script>

    @RenderSection("Index", required: false)
    @RenderSection("Detay", required: false)
    <!--====== Bootstrap js ======-->
    <script src="~/assetsmenu/js/bootstrap.min.js"></script>
    <script src="~/assetsmenu/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="~/assetsmenu/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="~/assetsmenu/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="~/assetsmenu/js/imagesloaded.pkgd.min.js"></script>

    <!--====== parallaxie js ======-->
    <script src="~/assetsmenu/js/parallaxie.js"></script>

    <!--====== nice select js ======-->
    <script src="~/assetsmenu/js/jquery.nice-select.min.js"></script>

    <!--====== odometer js ======-->
    <script src="~/assetsmenu/js/odometer.min.js"></script>
    <script src="~/assetsmenu/js/jquery.appear.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/assetsmenu/js/jquery.magnific-popup.min.js"></script>

    <!--====== Main js ======-->
    <script src="~/assetsmenu/js/main.js"></script>



</body>


<!-- Mirrored from themes.fuznet.com/rondhon/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jun 2020 18:30:50 GMT -->
</html>
