
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/admin.cshtml";
}

<div class="alert alert-danger" role="alert" style="text-align:center">
    İşlem sırasında hata oluştu
</div>


